<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.deepspeechdemo"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name=".DSApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,MissingApplicationIcon"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PermissionActivity" />
        <activity android:name=".LoadFilesActivity" />

        <service
            android:name="DeepIMEService"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"
                />
        </service>
    </application>
</manifest>
